
     *{
            box-sizing:border-box;
            margin:0px;
            padding:0px;
            font-family:sans-serif
        }
      body{
        background-color: rgb(40, 39, 39)
      }
      
    header{
        padding: 2rem;
        
        text-align:center;
        font-size: 20px;
        color:aliceblue;     


        .logo{
            text-align:center;

            #logo2{
                border: 6px solid white; border-radius: 50%; 
     
                }
            }
    }










nav{
    height:100px;
    background-color: #699FB8;
    border: 2px solid white;

    
    .enlaces{
        padding:1em;
        font-size:30px;
        font-weight:bold;
        
        a{
            text-decoration: none;
            
            }
       
    }
}